/* CSS Document lily 2012.07.04  */
body{background:#FFF;font:12px "\5B8B\4F53", Arial;color:#333;margin:0;padding:0;}
div,form,img,ul,ol,li,dl,dt,dd,p{margin:0;padding:0;border:0;}
li{list-style-type:none;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
a{outline-style:none;color:#333;text-decoration:none}
a:hover{color:#cc0000;text-decoration:underline;}
.zxsevnewhead20120704{clear:both;overflow:hidden;margin:0 auto 5px;width:960px;}
.divzxserv20120704wziColor333{font-size:12px;color:#333;}
.divzxserv20120704wziColor333 a:link{font-size:12px;color:#333;text-decoration:none;}
.divzxserv20120704wziColor333 a:visited{font-size:12px;color:#333;text-decoration:none;}
.divzxserv20120704wziColor333 a:hover{font-size:12px;color:#f00;text-decoration:underline;}
.divzxserv20120704wziColor333 a:active{font-size:12px;color:#f00;}
.divzxserv20120704wziColorf00{font-size:12px;}
.divzxserv20120704wziColorf00 a:link{font-size:12px;text-decoration:none;}
.divzxserv20120704wziColorf00 a:visited{font-size:12px;text-decoration:none;}
.divzxserv20120704wziColorf00 a:hover{font-size:12px;text-decoration:underline;}
.divzxserv20120704wziColorf00 a:active{font-size:12px;}
.divzxserv20120704fL{float:left;}
.divzxserv20120704Headerbox{clear:both;overflow:hidden;width:950px;height:30px;background:#F5F5F5 repeat;font-size:12px;font-family: "宋体";line-height:30px;margin:0 auto;border-bottom:1px solid #EEEEEE;padding:0 5px; color:#555;}
.divzxserv20120704Headerbox .divzxserv20120704Headerright{float:right;color:#555;overflow:hidden;height:30px;line-height:30px;}
.divzxserv20120704Headerbox .divzxserv20120704Headerright li{float:left;overflow:hidden;}
.divzxserv20120704Headerbox .divzxserv20120704Headerleft{float:left;letter-spacing:0.08px;word-spacing:1px;overflow:hidden;height:30px;line-height:30px;}
.divzxserv20120704Headerbox .divzxserv20120704Headerleft strong{font-weight:normal;}
.divzxserv20120704Inputtxt{float:left;margin:0;padding:0;border:0;margin:3px 6px 3px 0px;overflow:hidden;width:84px;height:20px;line-height:20px;border-top:1px solid #acaead;border-left:1px solid #dedfe1;border-right:1px solid #dedfe1;border-bottom:1px solid #e7e8ea;background:#fff repeat;color:#888;padding:0 3px;}
.divzxserv20120704Inputbtn{float:left;margin:0;padding:0;border:0;margin:3px 15px 0 2px;overflow:hidden;width:44px;height:22px;padding:1px 0;padding:5px 0\a;text-align:center;background:url(http://img1.soufun.com/house/images/header20120531btn.gif) no-repeat;cursor:pointer;}
.blank5{clear:both;overflow:hidden;height:5px;line-height:0;font-size:0;}
.blank8{clear:both;overflow:hidden;height:8px;line-height:0;font-size:0;}
.zxseverfL { float:left; display:inline; }
.zxseverfR { float:right; display:inline; }
.zxseverfb_blue { color:#049!important;}
.zxsevernav_box {width:960px; margin:0 auto;}
.zxsevernav_box_inf { height:85px; padding-top:10px; overflow:hidden; }
.zxseverinf_img { float:left; display:inline; width:80px; height:60px; padding:2px; border:1px solid #e3e3e3; }
.zxsevernav_box_inf_con { float:left; display:inline; width:700px; margin-left:10px; overflow:hidden; }
.zxsevernav_box_inf_con_li { clear:both;overflow:hidden; margin-bottom:2px;margin-bottom:1px\a;}
.zxsevernav_box_inf_con h1 { float:left; display:inline; font:normal 24px/26px "\9ED1\4F53", "\5FAE\8F6F\96C5\9ED1"; }
.zxsevernav_box_inf_con h1 a {color: #4E4E4E;text-decoration: none;}
.zxseversale_inf { float:left; display:inline; margin-left:5px; color:#666; line-height:30px; }
.zxsevernetadr { color:#999; font-family:Arial, Helvetica, sans-serif;}
.zxsevernum_p { color:#666; line-height:21px;}
.zxseverbbs_bs { float:right; margin-top:40px;}
.zxseversubnav { width:960px; height:36px; background:url(http://img1.soufun.com/house/detail_php/imageshequ/nav_bg.gif) repeat-x 0 0; overflow:hidden; clear:both;}
.zxseversubnav a { display:inline-block; background:url(http://img1.soufun.com/house/detail_php/imageshequ/nav_bg.gif) no-repeat right -36px; line-height:36px; font-size:14px; font-weight:bold; color:#fff; padding: 0 8px;}
.zxseversubnav a.current, .zxseversubnav a:hover { background:#007dbd; color:#fff; text-decoration:none; }
.zxsevermap_nav { height:30px; line-height:30px; }
.zxsevermap_date { color:#f00; }
.zxsevermap_nav .fL a { color:#049!important;}
.zxseversqwlink_sq {float: left;height: 19px;padding: 1px 10px 0 0;}
.zxseversqwlink_sq .s01, .zxseversqwlink_sq .s02 {background: url("http://img2.soufun.com/bbs/v3.8/images/icon_sq00.gif") no-repeat scroll 0 0 transparent;float: left;height: 19px;overflow: hidden;
width: 6px;}
.zxseversqwlink_sq .s02 {background: url("http://img2.soufun.com/bbs/v3.8/images/icon_sq00.gif") no-repeat scroll -7px 0 transparent;}
.zxseversqwlink_sq .s03 {background: url("http://img2.soufun.com/bbs/v3.8/images/icon_sq00.gif") repeat-x scroll 0 -19px transparent;color: #FFFFFF;float: left;font-family: "宋体";font-size: 12px;font-weight: normal;height: 19px;line-height: 20px;padding: 0 3px;}
.zxseversqwlink_sq .s03 a, .zxseversqwlink_sq .s03 a:visited {color: #FFFFFF;font-family: "宋体";font-size: 12px;font-weight: normal;}
.zxseversqwlink_sq .s03 a:hover {text-decoration: none;}
.zxsevernav_box_inf_con h1 a:hover{color:#333; text-decoration:none;}
.nicknamestr {color: 6666;display: inline;float: left;line-height: 30px;margin-left:5px;}
/* 20120730add */
.zxsevernav_box_inf_con02 { float:left; display:inline; width:864px; margin-left:10px; overflow:hidden; }
.zxsevernav_box_inf_con02 h1 { float:left; display:inline; font:bold 22px "\5FAE\8F6F\96C5\9ED1"; color:#4E4E4E;}
.zxsevernav_box_inf_con h1 a {color: #4E4E4E;text-decoration: none;}
.nicknamestr02{color: #999;display: inline;float: left;line-height: 30px;margin:3px 8px 0 5px;}
.zxseversqwlink_sq .s001{background: url(http://img1.soufun.com/house/detail_php/imageshequ/bbsbg_lft.gif) no-repeat;float:left;height: 24px;overflow: hidden;width: 8px;}
.zxseversqwlink_sq .s002 {background: url(http://img1.soufun.com/house/detail_php/imageshequ/bbsbg_rit.gif) no-repeat;float:left;height:24px;width:5px;}
.zxseversqwlink_sq .s003 {background: url(http://img1.soufun.com/house/detail_php/imageshequ/bbsbg_ctr.gif) repeat-x;color: #FFFFFF;float: left;font-family: "宋体";font-size: 12px;font-weight: normal;height:24px;line-height:24px;padding: 0 4px;}
.zxseversqwlink_sq .s003 a, .zxseversqwlink_sq .s003 a:visited {color: #FFFFFF;font-family: "宋体";font-size: 12px;font-weight: normal;}
.zxseversqwlink_sq .s003 a:hover {color:#fff;text-decoration: none;}
.zxsevernetadr02 { color:#999; font-family: "Arial";}
.zxsevernav_box_inf_con_li .leftcont{float:left;overflow:hidden;width:340px;display:inline;}
.zxsevernav_box_inf_con_li .rightcont{float:right;overflow:hidden;width:520px;margin-left:4px;text-align:right;display:inline;}
/* 20120810 add */
.divzxserv20120704Headerbox a{color:#555;}
.divzxserv20120704Headerbox a:link, .divzxserv20120704Headerbox a:visited{color:#555;text-decoration:none;}
.divzxserv20120704Headerbox a:hover, .divzxserv20120704Headerbox a:active{color:#FF7800;text-decoration:underline;}
.zxsevernav_box_inf_con02 h1 a{color: #4E4E4E;}
.zxsevernav_box_inf_con02 h1 a:link, .zxsevernav_box_inf_con02 h1 a:visited{color: #4E4E4E;text-decoration: none;}
.zxsevernav_box_inf_con02 h1 a:hover, .zxsevernav_box_inf_con02 h1 a:active{color: #4E4E4E;text-decoration: none;}
.zxsevernetadr02 a{ color:#999;}
.zxsevernetadr02 a:link, .zxsevernetadr02 a:visited { color:#999;text-decoration:none;}
.zxsevernetadr02 a:hover, .zxsevernetadr02 a:active { color:#FF7800;text-decoration:underline;}
.zxsevernum_p a { color:#05A0E0;}
.zxsevernum_p span { color:#ff7800;font-family: Arial,Helvetica,sans-serif; }
.zxsevernum_p a:link, .zxsevernum_p a:visited{ color:#05A0E0;text-decoration:none;}
.zxsevernum_p a:hover, .zxsevernum_p a:active{ color:#FF7800;text-decoration:underline;}
/* 20121030 new icon */
.zygwnew{position:absolute;width:23px;height:15px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/iconew.png) no-repeat;right:-12px;top:0;}
/* 20121213 by din */
.zxseversqwlink_sq .r001{background:url(http://img1.soufun.com/house/detail_php/images/bbsbg_lft_r.gif) no-repeat;float:left;height: 24px;overflow: hidden;width: 8px;}
.zxseversqwlink_sq .r002 {background:url(http://img1.soufun.com/house/detail_php/images/bbsbg_rit_r.gif) no-repeat;float:left;height:24px;width:5px;}
.zxseversqwlink_sq .r003 {background:url(http://img1.soufun.com/house/detail_php/images/bbsbg_ctr_r.gif) repeat-x;color: #FFFFFF;float: left;font-family: "宋体";font-size: 12px;font-weight: normal;height:24px;line-height:24px;padding: 0 4px;}
.zxseversqwlink_sq .r003 a, .zxseversqwlink_sq .r003 a:visited {color: #FFFFFF;font-family: "宋体";font-size: 12px;font-weight: normal;}
.zxseversqwlink_sq .r003 a:hover {color:#fff;text-decoration: none;}
.zxsevernum_p .r004{background:url(http://img1.soufun.com/house/detail_php/images/bbsbg_lf_r.gif) no-repeat;float:left;height: 24px;overflow: hidden;width:5px;}
.zxsevernum_p .r002 {background:url(http://img1.soufun.com/house/detail_php/images/bbsbg_rit_r.gif) no-repeat;float:left;height:24px;width:5px;}
.zxsevernum_p .r003 {background:url(http://img1.soufun.com/house/detail_php/images/bbsbg_ctr_r.gif) repeat-x;color: #FFFFFF;float: left;font-family: "宋体";font-size: 12px;font-weight: normal;height:24px;line-height:24px;padding: 0 4px;}
.zxsevernum_p .r003 a, .zxseversqwlink_sq .r003 a:visited {color: #FFFFFF;font-family: "宋体";font-size: 12px;font-weight: normal;}
.zxsevernum_p .r003 a:hover {color:#fff;text-decoration: none;}
.zxsevernum_p .s001{background:url(http://img1.soufun.com/house/detail_php/images/bbsbg_lf.gif) no-repeat;float:left;height: 24px;overflow: hidden;width:5px;}
.zxsevernum_p .s002 {background: url(http://img1.soufun.com/house/detail_php/imageshequ/bbsbg_rit.gif) no-repeat;float:left;height:24px;width:5px;}
.zxsevernum_p .s003 {background: url(http://img1.soufun.com/house/detail_php/imageshequ/bbsbg_ctr.gif) repeat-x;color: #FFFFFF;float: left;font-family: "宋体";font-size: 12px;font-weight: normal;height:24px;line-height:24px;padding: 0 4px;}
.zxsevernum_p .s003 a, .zxseversqwlink_sq .s003 a:visited {color: #FFFFFF;font-family: "宋体";font-size: 12px;font-weight: normal;}
.zxsevernum_p .s003 a:hover {color:#fff;text-decoration: none;}
/*----------------------------------2013-2-1电商版块升级-------------------------*/
.tuan_inf_box { width:960px; overflow:hidden; zoom:1; }
.tuan_inf_box_lf { width:298px; float:left; display:inline; border:1px solid #acd2e9; overflow:hidden; }
.tuan_inf_num { width:298px; height:260px; background:url(http://img1.soufun.com/house/detail_php/images/tuan_inf_num.jpg) no-repeat 0 0; clear:both; overflow:hidden; }
.tuan_inf_num_ul li { float:left; display:inline; width:148px; height:129px; text-align:center; overflow:hidden; }
.tuan_inf_num_ul li table { display:block; margin-top:68px; width:145px; padding:0 5px; overflow:hidden; vertical-align:middle;}
.tuan_inf_num_ul li td { color:#767676; width:145px; line-height:19px; vertical-align:middle; }
.tuan_inf_num_ul li del { text-decoration:line-through; font:18px "Microsoft YaHei",'微软雅黑','YaHei','黑体','Hei',Tahoma,Helvetica,arial,sans-serif; color:#333; }
.tuan_inf_num_ul li span.blue,.tuan_inf_num_ul li p span.blue a { color:#089edb; font-size:14px; font-weight:bold; }
.tuan_inf_num_ul li span.green,.tuan_inf_num_ul li p span.green a { color:#8cae42; font:16px "Microsoft YaHei",'微软雅黑','YaHei','黑体','Hei',Tahoma,Helvetica,arial,sans-serif; }
.tuan_inf_num_ul li span.org,.tuan_inf_num_ul li p span.org a  { color:#f97f46; font:16px "Microsoft YaHei",'微软雅黑','YaHei','黑体','Hei',Tahoma,Helvetica,arial,sans-serif; vertical-align:top; }
.tuan_tel { width:245px; height:59px; overflow:hidden; font-family:"Microsoft YaHei",'微软雅黑','YaHei','黑体','Hei',Tahoma,Helvetica,arial,sans-serif; border-bottom:1px solid #ccc; background:url(http://img1.soufun.com/house/detail_php/images/tuan_tel2.jpg) no-repeat top left; padding-left:53px; letter-spacing:1px; }
.tuan_tel strong { font:bold 19px/59px "Microsoft YaHei",'微软雅黑','YaHei','黑体','Hei',Tahoma,Helvetica,arial,sans-serif ; color:#444; }
.tuan_btn { float:left; display:inline; }
.tuan_btn_ft { float:left; display:inline; margin:7px 0 0 0; text-align:center; width:158px; height:55px; overflow:hidden; }
.tuan_btn_ft .blue { color:#089edb; font-size:14px; font-weight:bold; line-height:25px; }
.tuan_inf_box_ri { width:652px; height:388px; float:right; display:inline; overflow:hidden; }
.tuan_img { position:relative; height:386px; border:1px solid #ccc; }
a.tuan_img_left { position:absolute; display:block; width:45px; height:98px; background:url(http://img1.soufun.com/house/detail_php/images/left.png) no-repeat 0 0;  left:0; top:140px; z-index:99999;}
a.tuan_img_right { position:absolute; display:block; width:45px; height:98px; background:url(http://img1.soufun.com/house/detail_php/images/right.png) no-repeat 0 0; right:0; top:140px; z-index:99999;}
a:hover.tuan_img_left { position:absolute; display:block; width:45px; height:98px; background:url(http://img1.soufun.com/house/detail_php/images/left_hover.png) no-repeat 0 0;  left:0; top:140px; z-index:99999;}
a:hover.tuan_img_right { position:absolute; display:block; width:45px; height:98px; background:url(http://img1.soufun.com/house/detail_php/images/right_hover.png) no-repeat 0 0; right:0; top:140px; z-index:99999;}
.djyh { position:absolute; left:0; top:0; z-index:99;}
/*20130411*/
.detailhead{width:960px;height:70px;padding:15px 0;}
.dhleft{float:left;width:700px;margin-top:2px;}
.dhleft dt{float:left;width:100px;height:66px;}
.dhleft dt img{width:80px;height:60px;padding:2px;border:#e3e3e3 1px solid;}
.dhleft dd{float:left;width:600px;height:66px;overflow:hidden;}
.dhlup{height:35px;overflow:hidden;}
.dhlup h1{float:left;line-height:35px;font-family:"黑体","宋体";font-size:28px;font-weight:bold;}
.dhlup h1 a,.dhlup h1 a:visited{color:#444;}
.dhlup h1 a:hover{color:#444;text-decoration:none;margin-top:3px; }
.dhlup h2{float:left;line-height:25px;margin:10px 0 0 8px;color:#999;}
.dhlulebleblue,.dhluleblered{display:inline;float:left;height:22px;line-height:22px;margin:6px 0 0 8px;overflow:hidden;}
.dhlulebleblue em{float:left;width:12px;height:22px;background:url(http://img1.soufun.com/house/detail_php/images/xfbluebg1.jpg) no-repeat left;}
.dhlulebleblue span{float:left;height:22px;background:url(http://img1.soufun.com/house/detail_php/images/xfbluebg1.jpg) no-repeat right;padding-right:9px;}
.dhluleblered em{float:left;width:12px;height:22px;background:url(http://img1.soufun.com/house/detail_php/images/xfredbg.jpg) no-repeat left;}
.dhluleblered span{float:left;height:22px;background:url(http://img1.soufun.com/house/detail_php/images/xfredbg.jpg) no-repeat right;padding-right:9px;}
.dhluleblered span a,.dhluleblered span a:visited,.dhlulebleblue span a,.dhlulebleblue span a:visited{color:#fff;}
.dhluleblered span a:hover,.dhlulebleblue span a:hover{color:#fff;text-decoration:none;}
.dhldown{height:20px;line-height:20px;margin-top:10px;overflow:hidden;}
.dhldown li{display:inline;float:left;margin-right:15px;overflow:hidden;}
.dhldown li span{font-family:Arial;color:#ff7800;margin-right:5px;}
.dhldown li span a{color:#ff7800!important;}
.dhright{float:right;width:205px;overflow:hidden;}
.dhright li{display:inline;float:left;height:70px;margin-left:15px;overflow:hidden;}
.dhrsys,.dhrsysydls{width:105px;height:70px;border:none;}
.dhrsys{background:url(http://img1.soufun.com/house/detail_php/images/xfdsys.jpg) no-repeat;}
.dhrsysydls{background:url(http://img1.soufun.com/house/detail_php/images/xfdsyswxls.jpg) no-repeat;}

/*20130806导航*/
.newnavwrap{clear:both;} 
.newnav{height:36px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/nav_bg.gif) repeat-x 0 0;}
.nncom{width:960px;height:36px;margin:0 auto;}
.nnleft{float:left;font-family:"微软雅黑";font-size:15px;overflow:hidden;} 
.nnleft a,.nnleft a:visited{display:inline-block;line-height:36px;padding:0 10px;color:#fff;}
.nnleft a:hover{background:#007dbd;color:#fff;text-decoration:none;}
.nnlon,a.nnlon,a.nnlon:visited{display:inline-block;line-height:36px;background:#007dbd;color:#fff;}
a.nnlon:hover{background:#007dbd;color:#fff;text-decoration:none;}
.nnlxqcom{width:780px;line-height:35px;padding-left:180px;margin:0 auto;font-family:"微软雅黑";color:#fff;overflow:hidden;} 
.nnlxqcom a,.nnlxqcom a:visited{color:#fff;margin-right:25px;}
.nnlxqcom a:hover{color:#fff;margin-right:25px;}
.nnlxqcomw{height:35px;background:#007dbd;color:#fff;overflow:hidden;}
.nnright{float:right;height:36px;}
.nnrwytg,.nnrtools{position:relative;display:inline-block;float:right;z-index:111;}
.nnrwytg{display:inline-block;width:108px;height:36px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenav.gif) no-repeat 0 -182px;border:none;}
.nnrwytg.wytgon{background:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenav.gif) no-repeat 0 -219px;}
.nnrwytg a,.nnrwytg.wytgon a{display:inline-block;width:108px;height:36px;}
.nnrwdown{position:absolute;width:880px;background:#fff;border:#318db2 2px solid;border-top:none;padding:18px 18px 15px 58px;color:#555;overflow:hidden;top:32px;right:-10px;*right:-21px!important;*right:-21px;z-index:111;}
.dleft{float:left;width:210px;height:120px;overflow:hidden;}
.dlbmrs{height:30px;overflow:hidden;}
.dlbleft{display:inline;float:left;line-height:30px;font-family:"微软雅黑";font-size:20px;margin-right:10px;}
.dlbright{display:inline;float:left;line-height:20px;margin-top:9px;}
.dlbright em{font-style:normal;color:#f88123;}
.dlbright em a,.dlbright em a:visited{color:#f88123;}
.dlbright em a:hover{color:#f88123;}
.dllpdt{width:145px;height:69px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenav.gif) no-repeat 0 -112px;margin-top:15px;overflow:hidden;}
.dmiddle{float:left;width:268px;height:120px;border-right:#d1d1d1 1px dashed;padding:0 88px 0 58px;overflow:hidden;}
.dmone{height:28px;margin-top:10px;overflow:hidden;}
.dmone div{display:inline;float:left;overflow:hidden;}
.dmoa1{width:84px;height:28px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenav.gif) no-repeat 0 -29px;margin-right:12px;}
.dmoa1 input{width:70px;height:22px;line-height:22px;background:none;border:0;margin:3px 0 0 5px;font-family:"微软雅黑";font-size:14px;outline:0 none;}
.dmoa2{width:162px;height:28px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenav.gif) no-repeat 0 0;}
.dmoa2 input{width:150px;height:22px;line-height:22px;background:none;border:0;margin:3px 0 0 5px;font-family:"微软雅黑";font-size:14px;outline:0 none;}
.dmoa3{cursor:pointer;height:28px;font-weight:bold;}
.dmoa3 em{float:left;width:10px;height:28px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenavhqyzm.jpg) no-repeat left;}
.dmoa3 span{float:left;height:28px;line-height:28px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenavhqyzm.jpg) no-repeat right;padding-right:10px;}
.dmoa3 span a,.dmoa3 span a:visited{color:#676767;}
.dmoa3 span a:hover{color:#676767;text-decoration:none;}
.dmoa3hint{cursor:pointer;height:28px;font-weight:bold;}
.dmoa3hint em{float:left;width:10px;height:28px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenavhqyzm.jpg) no-repeat left;}
.dmoa3hint span{float:left;height:28px;line-height:28px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenavhqyzm.jpg) no-repeat right;padding-right:10px;color:#999;}
.dmoa3hint span a,.dmoa3 span a:visited{color:#676767;}
.dmoa3hint span a:hover{color:#676767;text-decoration:none;}
.dmoa4{cursor:pointer;width:128px;height:24px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenav.gif) no-repeat 0 -87px;margin:2px 0 0 53px;}
.dmoa4 a{display:block;width:128px;height:24px;}
.dmtwo{height:30px;line-height:30px;margin-top:20px;font-family:"微软雅黑";font-size:22px;color:#f93;overflow:hidden;}
.dmthree{height:20px;line-height:20px;margin-top:20px;font-size:14px;overflow:hidden;}
.dright{float:left;width:162px;padding:20px 0 0 58px;overflow:hidden;}
.drone{line-height:22px;font-size:14px;color:#666;overflow:hidden;}
.drtwo{cursor:pointer;width:95px;height:30px;background:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenav.gif) no-repeat 0 -256px;margin-top:15px;overflow:hidden;}
.drtwo a{display:block;width:95px;height:30px;}

.drliulan,.drbaoming,.drshoucang,.drliulano,.drbaomingo,.drshoucango{height:24px;line-height:24px;background-image:url(http://img1.soufun.com/house/detail_php/imageshequ/newhousenav.gif);background-repeat:no-repeat;padding-left:25px;font-size:14px;overflow:hidden;}
.drliulan{background-position:0 -287px;}
.drbaoming{background-position:0 -312px;}
.drshoucang{background-position:0 -337px;}
.drliulano{background-position:0 -362px;}
.drbaomingo{background-position:0 -387px;}
.drshoucango{background-position:0 -412px;}
.drliulan span,.drbaoming span,.drshoucang span{margin-left:5px;color:#f88123;}
.drliulano,.drbaomingo,.drshoucango{color:#999;}
.drmore{height:18px;line-height:18px;margin-left:25px;}
.drmore a,.drmore a:visited{color:#f88123;}
.drmore a:hover{color:#f88123;}
.dmtel{height:30px;line-height:30px;padding-top:10px;font-family:"微软雅黑";font-size:14px;overflow:hidden;}
.dmmore{height:30px;line-height:30px;padding-top:8px;overflow:hidden;}
.dmmore a,.dmmore a:visited{color:#369;}
.dmmore a:hover{color:#369;}